{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Welcome to ColorGlimmer</h2>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data" class="mb-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="file">Upload an image or PDF:</label>
                        <input type="file" class="form-control-file" id="file" name="file" accept="image/*,.pdf" onchange="previewFile()"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Upload</button>
                </form>
            </div>
        </div>
        <div id="preview" class="row justify-content-center"></div> <!-- Container for the image preview -->

        <div class="row mt-4">
            <!-- Left Part -->
            <div class="col-lg-6 border text-center">
                <div class="row mb-3">
                    <div class="col-lg-12 py-3 px-4">
                        <a href="#" id="reportLink" class="btn btn-info">Report</a>
                    </div>
                </div>
                <div class="col-lg-12 py-3 px-4">
                    <a href="#" id="scoreLink" class="btn btn-info">Score</a>
                </div>
                <div class="col-lg-12 py-3 px-4">
                    <a href="{% url 'accessibility_report' %}" class="btn btn-info">Detail</a>
                </div>
            </div>

            <!-- Right Part -->
            <div class="col-lg-6 border text-center">
                <div class="row mb-3">
                    <div class="col-lg-12 py-3 px-4">
                        <a href="#" id="modificationLink" class="btn btn-warning">Modification Suggestions</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 py-3 px-4">
                        <a href="{% url 'image_recoloring' %}" class="btn btn-success">Image Recoloring</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        function previewFile() {
            const preview = document.getElementById('preview');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                // Convert image file to base64 string and display it
                const img = document.createElement('img');
                img.src = reader.result;
                img.style.maxWidth = '600px'; // Set the width of the preview image
                img.style.maxHeight = '600px'; // Set the height of the preview image
                preview.innerHTML = ''; // Clear any existing content
                preview.appendChild(img); // Append the new image
            }, false);

            if (file) {
                reader.readAsDataURL(file); // Read the file
                document.getElementById('reportLink').href = '{% url 'accessibility_report' %}?filename=' + encodeURIComponent(file.name); //Dynamically update the selected file
                document.getElementById('scoreLink').href = '{% url 'score_report' %}?filename=' + encodeURIComponent(file.name); //Dynamically update the selected file
                document.getElementById('modificationLink').href = '{% url 'modification_suggestion' %}?filename=' + encodeURIComponent(file.name); //Dynamically update the selected file
            }
        }
    </script>
{% endblock extrascripts %}
